@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.head{
    background: #D38312;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 8vh;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}